body{
    margin:0;
    font-family:Arial,sans-serif;
}

.login-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#6d28d9,#9333ea,#3b82f6);
}

.login-card{
    width:360px;
    padding:30px;
    border-radius:20px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(15px);
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
    text-align:center;
    color:white;
}

.login-card h1{
    font-size:55px;
    margin-bottom:10px;
}

.login-card p{
    margin-bottom:20px;
}

.login-card input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:10px;
    outline:none;
    font-size:15px;
    box-sizing:border-box;
}

.password-box{
    display:flex;
    align-items:center;
    gap:10px;
}

.password-box input{
    flex:1;
}

.eye-btn{
    width:45px;
    height:45px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:white;
    font-size:20px;
}

.remember-box{
    display:flex;
    align-items:center;
    margin:15px 0;
    gap:8px;
}

.remember-box input{
    width:auto;
    margin:0;
}

.login-btn{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#22c55e;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.login-btn:hover{
    background:#16a34a;
}

.login-card a{
    color:#fde047;
    text-decoration:none;
    font-weight:bold;
}